@tailwind base;
@tailwind components;
@tailwind utilities;

/*
#676f9d rgb(103 111 157 / 0.9)
#424769 rgb(66 71 105 / 0.9)
#2d3250 rgb(45 50 80 / 0.9)
#f9b17a rgb(249 177 122 / 0.9) 
*/

/*
MTO
#2698bd
*/

/* * {
  transition: all 0.3s ease;
  
} */

 .btnAreas{
  /* background-color: transparent; */
  color: #676f9d;
  border-color: #f9b17a;
  border-width: 1px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.btnAreas:hover{
  border-color: transparent;
  background-color: rgb(103 111 157 / 0.3) ;
  box-shadow: 0 6px 8px rgb(0 0 0 / 0.5) !important;
  transition: transform 0.4s ease-in-out;
  transform: translateY(2px) scale(1.07); 
} 

.btnPresionado {
  transition: transform 0.2s ease-in-out;
  transform: translateY(2px) scale(0.95); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}



body {
  background-color:#424769;
  vertical-align: top;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-size:medium;
}

 .labelInput label{
  font-size:medium !important;
} 

.font-menu{
  color: #424769;
}

.mantenedor-titulo{
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
}

/* Estilos CSS para los inputs de Form */
.label-input {
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity));
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.primaryKeyHistorica{
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 3fr));
  grid-template-columns: repeat(2, minmax(0, 3fr));
}
.gridCointainer{
  height:  auto !important;
}
select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  background-image: none;
  cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

.labelErr{
  font-size: medium;
  font-style: italic;
  color: red;
}
/* .labelSelect{
  font-size: medium;
  color: #424769; 
  top: 5px;
} */

/* .labelSelectReg{
  font-size: medium;
  color: #424769; 
  top: 0px;
} */

/* Custom Select wrapper */
.custom-select, .custom-select-reg {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 0.25em;
  overflow: hidden;
}

.custom-select select:focus,
.custom-select input:focus {
  border-width: 3px;
  /* border-color: #f39c12 !important; */
  border: 2px solid #f39c12 !important;

  /* outline: none !important;  */
}

/* Arrow */
.custom-select::after {
  content: "\25BC";
  position: absolute;
  top: -8px;
  right: 40px;
  padding: 0.5em;
  margin-top: 15px;
  transition: 0.25s all ease;
  pointer-events: none;
  width: 2rem;
  height: 2rem;
}


.custom-select-reg::after {
  content: "\25BC";
  position: absolute;
  top: -8px;
  right: 10px;
  padding: 0.5em;
  margin-top: 15px;
  transition: 0.25s all ease;
  pointer-events: none;
  width: 2rem;
  height: 2rem;
}

/* Transition */
.custom-select:hover::after, .iconRefresh:hover {
  color: #f39c12 !important;
}

.customModal {
  position: absolute;
  width: 30%;
  height: auto;
  text-align: center;
  margin-top: -20px;
  border: 1px solid black;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  z-index: 1140;
  padding-bottom: 20px;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 20px;
}

.modalSubTitle {
  color: #4a5568;
  margin-bottom: 1rem;
}

.modalButton {
  background-color: #b0bbc4;
  color: #ffffff;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
}

.modalButtonContainer {
  align-items: center;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.custom-input {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  appearance: none;
  border-radius: 0.25rem;
  --tw-text-opacity: 1;
  min-width: unset !important;
  height: 3rem;
  white-space: pre-wrap;
  margin: 0px 0px 0px 0px !important;
}

.custom-required {
  color: #676f9d;
  background-color: #ffffff;
}

.custom-optional{
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

.custom-optional-listbox{
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0,0,0)
}

.custom-onlyread{
  background-color:transparent; 
  color: rgba(255, 255, 255, 0.9); 
  border-color: #f8b179 !important;
}

.custom-optional-with-color {
  background-color: rgba(255, 255, 255, 0.213);
  color: rgba(62, 62, 62, 0.75); 
   /* Tu nuevo color para el texto en estilo custom-optional */
}

.custom-input.error {
  border-width: 3px; 
  border-color: red; 
}

/* Estilo para anular min-width con !important */
[class~="min-w-[200px]"] {
  min-width: auto !important;
}

.navBarBorder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8b179;
  border-width: 1px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  border-color: #f8b179;
}

/*========CLASSES MANTENEDOR=======*/
.mantenedorContainer {
  width: 98%;
  height: 88vh;
  overflow: hidden;

  background-color: rgba(255, 255, 255, 1);
  border-color: #f9b17a;
  border-width: 1px;
  border-radius: 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px 10px 10px 15px;
  margin-top: 35px;
}

.mantenedorH1 {
  text-align: center;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 20px;
}

.mantenedorHead {
  display: flex;
  align-items: center;
  background-color: rgb(255 255 255 / 0);
  border-color: #f9b17a;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  padding: 10px 10px 10px 10px;
  width: 70%;
  margin: 0 auto;
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}

.mantenedorHeadOT {
  display: flex;
  align-items: center;
  background-color: rgb(255 255 255 / 0);
  border-color: #f9b17a;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  padding: 10px 10px 10px 10px;
  margin: 0 auto;
  margin-bottom: 10px !important;
}

.mantenedorHeadFlex {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;

  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px;
  width: 70%;
  margin: 0 auto;
}

/* Estilos para la grilla y elementos de la lista */
/* .tableContainer {
  background-color: #ffffff; 
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  margin-top: 20px; 
  height: 90%;
} */

/* Estilo para filas alternadas en la grilla */
.tableRow:nth-child(even) {
  background-color: #f9f9f9; /* Fondo de fila alternada */
}

/* Estilo para el texto en la grilla */
.tableCell {
  color: #333333; /* Color de texto en la grilla */
}

/*========CLASSES PRIMARYKEYSEARCH=======*/
.primaryKeyContainer {
  display: flex;
  width: 100%;
  margin-left: 1rem;
  margin-right: 2.5rem;
}

.primaryKeyLabel {
  display: block;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.primaryKeyInputsContainer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.primaryKeyRadioContianer {
  display: flex;
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem /* 8px */ * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem /* 8px */ * calc(1 - var(--tw-space-x-reverse)));
}

.primaryKeybtnRadioContainer {
  display: flex;
  align-items: center;
}

.primaryKeyIconButton {
  color: orangered;
  /* width: 15rem; */
  z-index: 20;
}

.primaryKeyIcon {
  width: 2rem;
  height: 2rem;
  z-index: 20;
}

/*========CLASSES PRIMARYBUTTONS=======*/
.primaryBtnContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-right: 1rem;
}

.primaryBtnIconButton {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: rgb(66 71 105 / 0.8)  !important;
}

.iconRefresh{
  left: -40px;
  color: #424769 !important;
}


.primaryBtnIcon {
  height: 2.5rem;
  width: 2.5rem;
  transition: transform 0.3s ease
}

.primaryBtnIconButton:hover, .primaryKeyIconButton:hover{
  transform: scale(1.2); 
}

.userFormBtnSubmit:hover, .otActionButton:hover{
  transform: scale(1.05); 
}

.scroll {
  max-height: 80%;
  overflow: auto;
}

.imgNavBar{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*========CLASSES TABLECOMPONENT=======*/
.checkTable:checked{
  color: #f8b179 !important;
}

.estadoOT{
  background-color: red;
}

.gridContainer {
  border-width: 1px;
  border-left-width: 2px;
  border-right-width: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: max-content;
  table-layout: fixed;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  border-collapse: collapse;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  max-height: 100vh;
  overflow: auto;
  position: relative;
}
 
.gridTop {
  position: sticky;
  top: 0;
  z-index: 1;
}

.gridHead {
  border-top-width: 1px;
  /* width: 100%; */
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(207 216 220 / var(--tw-border-opacity));
  /*background-color: rgb(236 239 241 / 1);*/
  /* background-color: #424769; */
  height: 1px;
  /* padding: 1rem; */
  border-width: 1px;
}


/* Estilos CSS para el checkbox en la tabla */
.gridHead input[type="checkbox"],
.gridTableData input[type="checkbox"] {
  width: 20px;
  height: 45px;
  margin: 0;
  padding: 0;
}

.gridHead p {
  font-weight: bold;
  color: #ffffff;
}

.gridText {
  font-size: 1rem;
  line-height: 1.25rem;
  line-height: 1;
  opacity: 0.7;
  overflow: hidden; 
}

table{
  font-family: sans-serif;
  font-weight: 100;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px #0000001a;
}

th, td{
  background-color: #ffffff33;
  /* padding: 15px; */
  color:#fff;
}

thead th{
  background-color: #55608f !important;
}

tbody tr:hover{
  /* background-color: rgb(255 255 255 / 0.5) !important; */
  background-color: rgb(0 0 0 / 0.1) !important;
}

tbody td{
  position: relative !important;
}

tbody td:hover:before{
  content: "" !important;
  position: absolute !important;
  /* background-color: rgb(0 0 0 / 0.1) !important; */
  background-color: blue !important;
  left: 0; 
  right: 0;
  /* top: -9999px; */
  /* bottom: -9999px; */
  /* z-index: 10 !important; */
}


.gridTableData {
  border-bottom-width: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
  /* height: 4rem; */
  /* white-space: nowrap; */
  /*padding-top: 0.5rem;
  padding-bottom: 0.5rem;*/
}

.gridIcons {
  height: 1.3rem;
  width: 1.3rem;
  color: #676f9d;
}

th {
  background-color: darkorange;
  padding: 5px;
  resize: horizontal;
  overflow: hidden;
}

/*Ancho del frame para div de keyInputs y div de la grilla. */
.width50 {
  width: 50% !important;
  margin: 0 auto;
}
.width60 {
  width: 60% !important;
  margin: 0 auto;
}
.width70 {
  width: 70% !important;
  margin: 0 auto;
}
.width80 {
  width: 80% !important;
  margin: 0 auto;
}
.width90 {
  width: 90% !important;
  margin: 0 auto;
}
.width100 {
  width: 100% !important;
  margin: 0 auto;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f9b17a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f9b17a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
#676f9d rgb(103 111 157 / 0.9)
#424769 rgb(66 71 105 / 0.9)
#2d3250 rgb(45 50 80 / 0.9)
#f9b17a rgb(249 177 122 / 0.9) 
*/

/*========CLASSES TABS=========*/
.custom-tab {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 12%;
  background-color: rgb(249 177 122 / 0.6); 
  /* border: 1px solid; */
  border-color: white;
  border-top-right-radius: 20px;
  padding: 10px 20px;
  margin: 0.5rem 0.1rem 0 0;
}

/* .custom-tab:focus{  
  background-color: #f9b17a; 
} */
.custom-tab.react-tabs__tab--selected {
  background-color: #f9b17a; 
  color: #424769; 
  font-weight: bold;
  border-bottom: 2px solid #f9b17a; 
}
.tabFolioNumber{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-left: 1rem;
  color: white;
}


/*========CLASSES FORULARIOS=========*/
.userFormularioRow {
  display: flex;
  flex-direction: row;
  width: calc(100% - 10px); /* Ajusta el ancho de los elementos individuales */
  margin-right: 10px; 
}

.w-full{  
  margin-bottom: 5px; 
  margin-top:5px;
}

.radioComponent, .dirCliente{
  border-color: #f8b179;
  border-width: 1px;
  border-radius: 15px;
}

.frameOTForm{
  border-color: #f8b179;
  border-width: 2px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 0px;
}

.labelAnteojo{
position: absolute;
z-index: 10;
top:-10%;
width: 15%;
left:36%;
text-align: center;
font-size:x-large;
color: white !important;
}

.textArmazonOT{
  font-size:larger;
  color: #f9b17a; 
  margin-left: 1rem;
  /*676f9d rgb(103 111 157 / 0.9)
  #424769 rgb(66 71 105 / 0.9)
  #2d3250 rgb(45 50 80 / 0.9)
  #f9b17a rgb(249 177 122 / 0.9)  */
}

.textArmazonOTDetalle{
  font-size:larger;
  color: white; 
  margin-right: 1rem;
}

.radioComponent label span, .dirCliente label {
  color: #f8b179;
}

input[type="radio"]:checked{
  background-color: #f8b179 !important;
}

.short-number TextInputComponent {
  width: 100px;
}

.input-container{
  margin: 0;
  padding: 0;
}

/* .input-element{
  margin-top: 0.5rem !important;
} */

.rowForm{
  height: 50px;
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 10px 0px !important;
}

.rowForm label::after, .rowForm label::before{
  border: none !important ;
}

.rowForm label{
  color: #ffa007 !important;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

.rowForm .custom-input:focus {
  border-width: 2px;
  border-color: #f39c12 !important; /* Cambia el color del borde a azul (#007bff) cuando obtiene el foco */
  outline: none !important; /* Elimina el contorno predeterminado que algunos navegadores aplican al enfocar */
}

.centertDIV {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

/* input[type="text"]{
  border: none !important;
} */

.textInput{
  top: 0px !important;
}

.center-form{
  top:10%;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.useFormContainer {
  --tw-bg-opacity: 1;
  background-color: rgb(103 111 157 / 1);
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  position: absolute;
  /* display: block; */
  z-index: 50 !important;
  border-radius: 0.5rem;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.5),
    0 4px 6px -4px rgb(0 0 0 / 0.5);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.useFormContainerOT {
  --tw-bg-opacity: 1;
  background-color: #424769;
  margin: 0% !important;
  padding: 0% !important;
  left: 0%;
  position: absolute;
  z-index: 20;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.5),
    0 4px 6px -4px rgb(0 0 0 / 0.5);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.useFormDerivacion {
  background-color: #676f9d;
}
/* #676f9d rgb(103 111 157 / 0.9)
#424769 rgb(66 71 105 / 0.9)
#2d3250 rgb(45 50 80 / 0.9) */


.loginFormContainer {
  --tw-bg-opacity: 1;
  background-color: rgb(103 111 157 / 0.9);
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto; /* Ajusta el margen para centrar horizontalmente */
  display: flexbox; /* Usa flexbox para centrar vertical y horizontalmente */
  flex-direction: column; /* Aplica flex en dirección de columna */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  max-width: auto; /* Ajusta el ancho máximo según tus necesidades */
  border-radius: 0.5rem;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.5),
    0 4px 6px -4px rgb(0 0 0 / 0.5);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.useFormContainer h1{
  color: white;
}

.use30rem {
  width: 30rem;
}
.use40rem {
  width: 40rem;
}
.use50rem {
  width: 50rem;
}
.use60rem {
  width: 60rem;
}
.use70rem {
  width: 70rem;
}
.use80rem {
  width: 80rem;
}

.textOption{
  color: white;
}

.userFormBtnCloseContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.userFormBtnClose {
  /* Estilos normales */
  background: none;
  border: none;
  color: #f9b17a;
  font-size: 3rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s; /* Agregar una transición suave */

  /* Agrandar la X en el hover */
  transform-origin: center;
}

.userFormBtnClose:hover {
  transform: scale(1.2); /* Aumentar el tamaño al 120% */
}

.userFormLabel {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.userFormulario {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem /* 16px */ * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem /* 16px */ * var(--tw-space-y-reverse));
}

.userFormularioContainer {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem /* 16px */ * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem /* 16px */ * var(--tw-space-y-reverse));
}

.userFormularioContainer .input {
  margin-bottom: 20px; /* Espacio de 20px entre los input */
  flex: 1; /* Para que se ajusten al ancho del contenedor */
}

.input {
  flex-grow: 1; /* Hace que los elementos se ajusten automáticamente */
}

/* input[type="number"] {
  text-align: right;
  font-size:medium;
  border-radius: 0.3rem;
}

input[type="text"] {
  text-align: left;
  font-size:medium;
  border-radius: 0.3rem;
} */


.flex-col {
  width: 100%;
}
.flex-col div {
  min-width: auto !important;
} /*ancho del Input para datos pequeños*/
.flex-col label {
  font-size: 16px;
} /*color del label del input*/

.userFormBtnSubmit {
  width: 100%;
  --tw-bg-opacity: 1;
  /* background-color: rgb(251 140 0 / var(--tw-bg-opacity)); */
  background-color: #f9b17a;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.otActionButton{
  box-shadow: 0 0 10px  rgb(66 71 105 / 0.9);
  font-size: medium;
  padding: 15px 25px 15px 25px !important;
  border-radius: 0.25rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.otCod{
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
}

.otDioptriaTit div{
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
  font-weight: 700;
  text-align: center;
}

.otDioptria div{
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 0px 0px 0px 0px !important;
  margin: -5px 0px 0px 0px !important;

}
 
.otArmazonData{
  font-size: 0.85rem;
  line-height: 1rem;
  padding: 0px 0px 0px 0px !important;
  margin: -3px 0px 0px 0px !important;
}

.otCData{
  font-size: 0.85rem;
  line-height: 0.85rem;
  padding: 0px 0px 0px 0px !important;
  margin: 5px 0px 0px 0px !important;
}

/* Estilos CSS para el modal */
.modal-content {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

@media print {
  .fot-impresa {
      display: flex;
      justify-content: space-between;
      width: 40rem;
      border-width: 1px;
      border-style: solid;
      border-color: black; /* Color azul correspondiente al código Tailwind border-blue-500 */
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      margin-top: 2rem;
      height: 20rem;
    /* Agrega cualquier estilo adicional que desees aplicar en la impresión */
  }

}

/* Estilos CSS para el fondo del modal */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; /* Asegura que el fondo esté por encima de otros elementos */
}

.custom-draggable {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

/* Estilos para WebKit (Safari, Chrome) */
::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar vertical */
  height: 8px; /* Alto del scrollbar horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb (barra de desplazamiento) */
  border-radius: 4px; /* Borde redondeado del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del thumb en hover */
}

@media (max-width: 539px) {
  .sm\:hidden {
    display: none;
  }
}


@media (width >= 300){
  .userFormContainer{
    background-color: red;
  }

}

.form-container-reserva{
  width: 100%;
  height: 150vh; 
  overflow-y: auto; 
  overflow-x: hidden; 
}

/* Estilos para Firefox */
/* Estos estilos también se aplicarán a algunos navegadores basados en Chrome */
/* Nota: Algunas propiedades no son soportadas en Firefox, pero no generan conflictos */
/* Recomendación: Utiliza estilos específicos para Firefox si es necesario */
/* scrollbar-color: #888 #f0f0f0; Color del thumb y el track (respectivamente) */
/* scrollbar-width: thin; Ancho del scrollbar vertical y horizontal */
